[submodule "dotbot"]
	path = .dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim/plugged/syntastic"]
	path = vim/plugged/syntastic
	url = https://github.com/scrooloose/syntastic
	ignore = dirty
[submodule "vim/plugged/lightline.vim"]
	path = vim/plugged/lightline.vim
	url = https://github.com/itchyny/lightline.vim
	ignore = dirty
[submodule "vim/plugged/tabular"]
	path = vim/plugged/tabular
	url = https://github.com/godlygeek/tabular
	ignore = dirty
[submodule "vim/plugged/vim-rainbow"]
	path = vim/plugged/vim-rainbow
	url = https://github.com/frazrepo/vim-rainbow
	ignore = dirty
[submodule "vim/plugged/vim-sensible"]
	path = vim/plugged/vim-sensible
	url = https://github.com/tpope/vim-sensible
	ignore = dirty
[submodule "vim/plugged/vim-colors-solarized"]
	path = vim/plugged/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
	ignore = dirty
[submodule "zsh/plugins/dircolors-solarized"]
	path = zsh/plugins/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
	ignore = dirty
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/zsh-completions"]
	path = zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
